img{
    border:solid 1px rgb(94, 255, 0);
    border-radius: 20px;
}
h1{
    color:chocolate
}
body {background-color: #ff9e9e}
.header{
    background-color: rgb(225 226 145);
    display:flex;
    justify-content: space-between;
}
.menu{
    margin-top: 10px;
    margin-right: 10px;
}
a:link{
    color: seagreen;

}
a:visited{
    color: seagreen;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

p,h2{
    text-align: center;
}

.item{
    background-color: antiquewhite;
    width:300px;
    height:900px;
}